html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.head{
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.215);
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 70px;
    box-shadow: 0px 9px 12px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
}

.logo_icon{
    height: 70px;
    width: max-content;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.img{
    width: 100%;
    height: 100%;
}

.head_text{
    display: flex;
    margin: auto 0;
    

    height: 70px;
}

.head_p{
    font-size: 20px;
    color: rgb(233, 199, 156);
}

main{
    display: grid;
    background-image:url(./img/sky_cloud_high_blue.jpg);
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-size: cover;
}

.content{
    display: grid;
    gap: 20px;
    justify-self: center;
}


.content_text{
    padding: 10px;
}

.text{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}

.p{
    margin-right: 50px;
    display: flex;
    margin-right: auto;
    color: rgb(51, 43, 44);
    font-size: 17px;
}


input{
    border: none;
    margin: 2px;
    height: 20px;
    display: flex;
    margin: auto 0;
    border-style: none;
    
    background-color: rgba(255, 228, 196, 0.158);
    border-radius: 3px;

}


.content_button{
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    
}

button{
    border-style:none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    padding: 10px;
    color: rgb(51, 43, 44);
}

button:hover{
    /* background-color:rgba(170, 167, 167, 0.103); */
    color: rgb(95, 79, 80);
    font-size: 18px;
    
}

button:active{
    color: rgb(196, 173, 112);
}